
.upload-image, .avatar {
    width: 90px;
    height: 90px;
    background: cover;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 2px;
    margin-bottom: 12px;
}

h1 {
    margin-bottom: 20px; 
}

h4 {
    margin-bottom: 15px;
}

h5 {
    margin: 0;
    font-weight: 500;
    font-size: medium;
}

h6 {
    margin: 3px 0 0 0;
    font-weight: 400;
    font-size: small;
}

.following {
    color: forestgreen;
    margin-right: 20px;
}

.username-bio-follow-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.avatarAndProfileData {
    display: flex;
    justify-content: space-evenly;
}

label {
    margin: 0;
}

.post-follow-item {
    font-size: 6px;
}

.edit-delete-icons {
    display: flex;
}

article {
    margin-bottom: 4rem;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    height: 4rem;
    background-color: #f8f9fa;
    border-top: 1px solid black;
}

.editProfileButton {
    margin: 8px auto;
    width: 100%;
    padding: 0;
    border: 1px black solid;
    border-radius: 5px;
}

.post-follow-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-follow-item h6, h5 {
    margin: 0;
}

button {
    padding: 0 15px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 8px 0;
}

.submit-button {
    padding: 0 15px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 8px 0;
}

.unfollow-button {
    padding: 0 15px;
    background-color: transparent;
    border: 1px black solid;
    border-radius: 5px;
    margin: 8px 0;
}

.footer-img {
    width: 30px;
    height: 30px;
    margin: 15px 0;
}

.home {
    width: 30px;
    border-radius: 50%;
    margin: 15px 0 ;
}

.home-active {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 14px 0;
    padding: 1px;
    border: 1px solid black;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 0px;
}

.post-profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 1px solid lightgray;
}

.post-avatar {
    width: 38px;
    height: 38px;
    background: cover;
    margin: 0;
    border-radius: 50%;
    border: 1px solid grey;
}

.post-delete, .post-edit {
    width: 22px;
    padding-left: 5px;
    margin: 0;
}

.edit-comment-button {
    margin: 0;
    padding: 2px;
}

.edit-image-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

#editedIMG {
    width: 75vw;
}

.edit-post-form {
    display: flex;
    justify-content: space-between;
}

.like-comment {
    width: 9%;
    height: auto;
    padding-right: 2%;
    margin: 0;
}

.like-comment-strip {
    margin: 8px 0;
}

.comment-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: normal;
}

input {
    margin-bottom: 1px;
}

.post-user {
    margin-left: 8px;
}

.post-text-user {
    color: darkred;
}

.comment-user {
    font-size: 14px;
    padding-top: 2px;
}

.comment {
    padding-bottom: 1px;
}

.post-pop-up-text {
    display: none;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: relative;
    z-index: 1;
}

.post {
    border-bottom: 2px solid #555;
    padding-bottom: 8px;
}

.show {
    display: block;
    color: black;
}

.py-5 {
    padding-top: 9vh!important;
    padding-bottom: 1rem!important;
}

.hide {
    display: none;
}

.follow-div {
    display: flex;
}

.follow-buttons {
    margin: 0;
}

.errors {
    color: crimson;
}

.dummy-div, .dummy-post-div {
    display: none;
}

.title-heading {
    font-family: BeautifulPeople;
}

.about-div {
    display: flex;
    align-items: flex-end;
}

.about-title {
    margin-left: 10px;
}

.about-text {
    margin-bottom: 8px;
}

.about-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.git {
    padding: 0 5px 5px 5px;
    color: black;
    width: 30px;
}

.upload-box {
    display: flex;
    justify-content: flex-end;    
}

.kubrick {
    width: 92%;
    margin: 20px 4%;
}

.form-control {
    border: 1px solid darkred;
}

@media only screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
    .like-comment {
        width: 80px;
    }

    h5 {
        font-size: 25px;
    }

    .comment-user {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .container {
        width: 55%;
    }

    .form-control {
        border: 2px solid darkred;
    }
}