/* In this file you can add your custom styles. */

.upload-image, .avatar {
    width: 20vw;
}

.avatarAndProfileData {
    display: flex;
    justify-content: space-evenly;
}

.post-follow-item {
    font-size: 6px;
}