/* In this file you can add your custom styles. */

.upload-image, .avatar {
    width: 20vw;
    border-radius: 50%;
    border: 2px solid black;
    padding: 2px;
}

.avatarAndProfileData {
    display: flex;
    justify-content: space-evenly;
}

.post-follow-item {
    font-size: 6px;
}

article {
    margin-bottom: 4rem;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    height: 4rem;
    background-color: lightgrey;
}

.editProfileButton {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    border: 1px black solid;
    border-radius: 5px;
}

.post-follow-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-follow-item h6, h5 {
    margin: 0;
}

button {
    padding: 0 15px;
    border: 1px black solid;
    border-radius: 5px;
}

img {
    width: 32px;
    margin: 15px 0;
}

.home {
    width: 30px;
    border-radius: 50%;
    margin: 15px 0 ;
}

.home-active {
    width: 30px;
    border-radius: 50%;
    margin: 14px 0;
    padding: 1px;
    border: 1px solid black;
}